{
  CIDER: {
    cider_version: "0.54.1",
    dependencies: {
      nuget: "",
      tatin: "",
    },
    dependencies_dev: {
      tatin: "packages_dev=TestCases",
    },
    distributionFolder: "Dist",
    init: "",
    make: "Admin.Make 1",
    parent: "#",
    projectSpace: "WindowsToast",
    project_url: "https://github.com/aplteam/WindowsToast",
    source: "APLSource",
    tatinVars: "WindowsToast",
    tests: "TestCases.RunTests",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
